/* Reset default margin, padding, and box model for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply box model to the HTML element */
html {
  box-sizing: border-box;
}

/* Style the header section */
header {
  position: fixed; /* Fixed position at the top of the page */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99; /* Stack the header on top */
}

/* Style the logo in the header */
.logo {
  font-size: 2em;
  color: #f99c1a;
  user-select: none;
  margin-left: -50px;
}

/* Style navigation links */
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #f99c1a;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

/* Style the "Login" button in the navigation */
.navigation .btnLogin-popup {
  border-radius: 7px;
  border-style: none;
  border: 2px solid #f99c1a;
  padding: 10px 30px;
  background-color: transparent;
  color: #f99c1a;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  user-select: none;
  font-weight: 500;
  margin-left: 40px;
}

/* Hover effect for the "Login" button */
.navigation .btnLogin-popup:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}

/* Apply styles to the body, including background image */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/crunch_gym_large.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

/* Style a wrapper for content */
.wrapper {
  width: 350px;
  height: auto;
  background: transparent;
  padding: 10px 15px;
  margin: 10px 0;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Style images within the wrapper */
.wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

/* Style input boxes within the wrapper */
.wrapper .input-box {
  display: flex;
  width: 100%;
  padding: 10px 12px;
  position: relative;
}

/* Style form inputs within the input box */
.wrapper .input-box input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}

/* Placeholder text color */
input::placeholder {
  color: black;
}

/* Styling for elements with class "bx" within the input box */
.wrapper .input-box .bx {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Styling for elements with class "remember" */
.wrapper .remember {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

/* Styling for elements with class "remembera" within the "remember" section */
.wrapper .remember a {
  text-decoration: none;
}

/* Hover effect for links in the "remember" section */
.wrapper .remember:hover a {
  text-decoration: underline;
}

/* Styling for the submit button */
.btn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  outline: none;
  font-weight: 500;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
}

/* Styling for the "Login" button */
input[value="Login"] {
  font-weight: 500;
}

/* Styling for elements with class "register" */
.wrapper .register {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 15px;
}

/* Styling for paragraphs and links within the "register" section */
.register p,
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  word-spacing: 1px;
}

/* Margin and hover effect for links in the "register" section */
.register a {
  margin-left: 90px;
}

/* Hover effect for links in the "register" section */
.register:hover a {
  text-decoration: underline;
}
